* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}


/* Firefox */

::-moz-selection {
    color: white;
    background: purple;
}


/* Safari and Opera */

::selection {
    color: white;
    background: purple;
}

::selection {
    color: white;
    background: purple;
}

::-webkit-scrollbar {
    width: 0.45rem;
    height: 0.45rem;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
    background: rgba(250, 250, 250, 0.43);
}

::-webkit-scrollbar-thumb {
    background: #9b1fe899;
    border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9b1fe8;
}

main {
    width: 25rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    padding: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    user-select: none;
}

header>nav {
    display: flex;
    align-items: center;
}

header>nav>h2 {
    margin-left: 0.5rem;
    background: -webkit-linear-gradient(30deg, #130ac1, #00c472 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 1rem;
    resize: none;
    font-weight: 500;
    border: 0.3rem solid transparent;
    border-radius: 0.75rem;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9, 9px 9px 16px rgba(189, 189, 189, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
    background: transparent;
}

textarea:focus {
    box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9, 9px 9px 16px rgba(189, 189, 189, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

ul {
    list-style: none;
    display: flex;
}

ul>li {
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 14px;
    margin-left: 0.75rem;
    padding: 0.25rem 0.5rem;
    box-shadow: 0px -6px 10px white, 0px 4px 15px rgba(0, 0, 0, 0.15);
}

ul>li:hover {
    box-shadow: inset 0px -6px 10px white, inset 0px 4px 15px rgba(0, 0, 0, 0.15);
}

ul>li>img {
    width: 1rem;
    height: 1rem;
    z-index: -1;
}