* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

/* Firefox */
::-moz-selection {
    color: white;
    background: purple;
}

/* Safari and Opera */
::selection {
    color: white;
    background: purple;
}

::selection {
    color: white;
    background: purple;
}

::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.45rem;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #9b1fe899;
    border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9b1fe8;
}

ul {
    list-style: none;
}

main {
    width: 30rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    padding: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    user-select: none;
}

header > nav,
header #list_header h3,
header #list_header button {
    display: flex;
    align-items: center;
    font-weight: 400;
}

header > nav > h2 {
    margin-left: 0.2rem;
    background: -webkit-linear-gradient(30deg, #130ac1, #00c472 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header #note_name {
    margin: 0 0.5rem;
    text-overflow: ellipsis;
}

header #home,
header #note_header > li,
header #list_header > button {
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 14px;
    padding: 0.25rem 0.5rem;
    box-shadow: 0px -6px 10px white, 0px 4px 15px rgba(0, 0, 0, 0.15);
}

header #home:hover,
header #note_header > li:hover,
header #list_header > button:hover {
    box-shadow: inset 0px -6px 10px white,
        inset 0px 4px 15px rgba(0, 0, 0, 0.15);
}

header #list_header > .inactive {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

header #note_header > li,
header #list_header > button {
    margin-left: 0.75rem;
}

header #list_header button h5,
header #list_header > h3 #total {
    margin-left: 0.25rem;
}

header #home img,
header ul > li > img,
header button > img {
    width: 1rem;
    height: 1rem;
}

main > section {
    width: 100%;
    height: 100%;
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;
}

main > #note_panel {
    font-weight: 500;
    border-radius: 0.7rem;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9,
        9px 9px 16px rgba(189, 189, 189, 0.6),
        -9px -9px 16px rgba(255, 255, 255, 0.5);
}

main > #note_panel.active {
    box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9,
        9px 9px 16px rgba(189, 189, 189, 0.6),
        -9px -9px 16px rgba(255, 255, 255, 0.5);
}

main > #note_panel > div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 0.25rem solid transparent;
}

main > #note_panel > div > textarea,
main > #list_panel > ul {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    line-height: 1.5em;
    background: transparent;
}

main > #list_panel > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    padding: 0.25rem;
    height: fit-content !important;
}

main > #list_panel > ul > li {
    border-radius: 0.25rem;
    background: #ddd;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    height: fit-content;
    position: relative;
}

main > #list_panel > ul > li #checkbox_item {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    width: 0.75rem;
    height: 0.75rem;
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 2px;
    border-radius: 3px;
    display: none;
}

main > #list_panel > ul > li:hover #checkbox_item {
    display: block;
}

main > #list_panel > ul > li #checkbox_item:active,
main > #list_panel > ul > li #checkbox_item:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

main > #list_panel > ul > li #checkbox_item:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
        inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
    display: block;
}

main > #list_panel > ul > li #checkbox_item:checked:after {
    content: '\2714';
    font-size: 12px;
    position: absolute;
    top: -0.25rem;
    left: 0rem;
    color: #99a1a7;
}
