#settings {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--milk_white);
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;
    z-index: -1;
}

#settings.active {
    width: 100%;
    z-index: 3;
}

#settings .settings_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
